header {
  height: 150px;
}
.mainpagetitle {
  color: black;
  font-size: 30px;
  padding: 10px;
}
.slidewindow {
  height: 400px;
  background-color: lightgrey;
}
.thumbnails {
  height: 250px;
  width: 18%;
  /*box-shadow: 2px solid grey;*/
  background-color: lightblue;
  margin-top: 50px;
  margin-left: 1.6%;
  float: left;
}
.boxtitle {
  height: 50px;
  width: 18%;
  /*box-shadow: 2px solid grey;*/
  margin-top: 20px;
  margin-left: 1.6%;
  /*margin-right: 3%;*/
  float: left;
  text-align: center;
  font-family: 'Allerta', sans-serif;
  font-size: 20px;
}
.choro1 {
  background-image: url(images/choro1pic.png);
  height:
}
